@import "semantic-ui";

.chatbox {
    height: 450px;
  }
#messages {
    height: 15em;
    overflow: auto;
}

.input {
    button {
        display: none;
    }
}

.ui.menu {
    margin: 0 0;
    border-radius: 0;
}

h2.ui.icon.header.aligned {
    margin-top: 24px;
}

.ui.primary.button {
    background-color: #3ac162;
}


i.inverted.bordered.green.icon {
    margin: 0;
}
button {
    padding: 0;
}
.ui.large.menu {
    margin-bottom: 24px;
}

.ui.placeholder.segment {
    margin-top: 80px;
}
