@import "semantic-ui";


.ui.menu {
    margin: 0 0;
    border-radius: 0;
}

h2.ui.icon.header.aligned {
    margin-top: 24px;
}

.ui.primary.button {
    background-color: #3ac162;
}

// .ui.two.column.grid {
//     padding-top: 24px;
// }

.ui.large.menu {
    margin-bottom: 24px;
}

.ui.placeholder.segment {
    margin-top: 80px;
}